<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DeleteAppointmentServlet</servlet-name>
  	<display-name>DeleteAppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.org.servlet.admin.DeleteAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Feedback</servlet-name>
  	<display-name>Feedback</display-name>
  	<description></description>
  	<servlet-class>com.org.servlet.user.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteAppointmentServlet</servlet-name>
  	<url-pattern>/DeleteAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Feedback</servlet-name>
  	<url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
</web-app>
